USE [master]
GO
/****** Object:  Database [NatuARGDB]    Script Date: 04/01/2021 21:45:33 ******/
CREATE DATABASE [NatuARGDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NatuARGDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NatuARGDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NatuARGDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NatuARGDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NatuARGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NatuARGDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/01/2021 21:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Atracciones]    Script Date: 04/01/2021 21:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atracciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[Imagen2] [nvarchar](max) NULL,
	[Imagen3] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[ParqueId] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Updated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Atracciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parques]    Script Date: 04/01/2021 21:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parques](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Provincia] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Established] [datetime2](7) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[Updated] [datetime2](7) NOT NULL DEFAULT ('0001-01-01T00:00:00.0000000'),
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Parques] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_Atracciones_ParqueId]    Script Date: 04/01/2021 21:45:34 ******/
CREATE NONCLUSTERED INDEX [IX_Atracciones_ParqueId] ON [dbo].[Atracciones]
(
	[ParqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Atracciones]  WITH CHECK ADD  CONSTRAINT [FK_Atracciones_Parques_ParqueId] FOREIGN KEY([ParqueId])
REFERENCES [dbo].[Parques] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Atracciones] CHECK CONSTRAINT [FK_Atracciones_Parques_ParqueId]
GO
USE [master]
GO
